
.button {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border: none;
    padding: 8px 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:hover {
        color: white;
        text-decoration: none;
    }

    @media screen and (max-width: $screen-sm) {
        width: 100%;
    }

}

.button-primary {
    background: rgb(4,96,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(4,96,125,1) 0%, rgba(1,53,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,96,125,1)), color-stop(100%,rgba(1,53,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(4,96,125,1) 0%,rgba(1,53,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(4,96,125,1) 0%,rgba(1,53,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(4,96,125,1) 0%,rgba(1,53,68,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(4,96,125,1) 0%,rgba(1,53,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04607d', endColorstr='#013544',GradientType=0 ); /* IE6-9 */

    &:hover {
        background: rgb(1,53,68); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(1,53,68,1) 0%, rgba(4,96,125,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,53,68,1)), color-stop(100%,rgba(4,96,125,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(1,53,68,1) 0%,rgba(4,96,125,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(1,53,68,1) 0%,rgba(4,96,125,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(1,53,68,1) 0%,rgba(4,96,125,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(1,53,68,1) 0%,rgba(4,96,125,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013544', endColorstr='#04607d',GradientType=0 ); /* IE6-9 */
    }
}

