
.main-heading {
    font-weight: $font-extra-bold;
    font-size: 36px;
}

.sub-heading {
    font-weight: $font-semi-bold;
    font-size: 24px;
    text-transform: capitalize;
}

.article-heading {
    font-weight: $font-semi-bold;
    font-size: 18px;
    margin: -5px 0px 10px 0px;
}

.main-body {
    font-weight: $font-light;
    font-size: 14px;
    line-height: 24px;
}

.article-body {
    font-weight: $font-light;
    font-size: 12px;
    line-height: 20px;
}