/*
 * Base
 */

div, p {
    font-family: $font-family;
    font-weight: $font-light;
    color: $primary-color;
}

h1, h2, h3, h4 {
    font-family: $font-family;
    font-weight: $font-semi-bold;
    color: $primary-color;
}

p {
    font-family: $font-family;
    font-weight: $font-light;
}
