
/*
 * Device widths
 */
$screen-lg: 1280px;
$screen-md: 768px;
$screen-sm: 480px;


/*
 * Typography
 */
$font-family: 'Open Sans', sans-serif;

$font-light: 300;
$font-semi-bold: 600;
$font-extra-bold: 800;


/*
 * Color
 */
$light-grey: #cecece;
$primary-color: #023140;
